{% extends 'prettycompanieshouse/base.html' %}

{% load static %}

{% block content %}

<div class="body-content">
    <div class="container">

        <section class="row">
            <div class="col-lg-12">
                <header class="header">
                    <h1>
                        Pretty Companies House
                    </h1>
                    <p class="lead small"> Type the company name to get the info</p>
                </header>
            </div>
        </section>


        <section class="row">

            <div class="col-md-6 col-md-offset-3">
                <select id="select-company" class="movies selectized">
                    <option value="" selected="selected" name=""></option>
                </select>
            </div>
        </section>

        <section class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title" id='company-name'>[[ company_name ]]</h3>

                <a href="#"> Download <i class="fa fa-download" aria-hidden="true"></i></a>
            </div>
            <div class="panel-body" id="company-info">

                <div>
                    <company-info
                            v-for="item in companyInfo"
                            v-bind:info="item"
                            v-bind:key="item.key">
                    </company-info>
                </div>
            </div>
        </section>

    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'prettycompanieshouse/js/jquery.min.js' %}"></script>
<script src="{% static 'prettycompanieshouse/js/bootstrap.min.js' %}"></script>
<script src="{% static 'prettycompanieshouse/js/selectize.js' %}"></script>
<script src="{% static 'prettycompanieshouse/js/vue.min.js' %}"></script>


<script>
        $(document).ready(function () {
        $("section.panel").hide();

        Vue.component('company-info', {
                    props: ['info'],
                    template: " <div class='row'><div class='col-sm-4'> [[info.key]] </div> <div class='col-sm-8'>[[info.value]]</div></div>",
                    delimiters: ['[[',']]']
})



        var selectedCompanyVue = new Vue({
          el: '#company-info',
          data: {
            companyInfo: []
          }
        });

        var selectedCompanyTitle = new Vue({
          el: '#company-name',
          data: {
            company_name: ''
          },
          delimiters: ['[[',']]']
        });


            var chosenCompany = null;

            $('#select-company').selectize({
                valueField: 'title',
                labelField: 'title',
                searchField: 'title',
                options: [],
                create: false,
                render: {
                    option: function (item, escape) {

                        return '<div>' +
                            '<span class="title">' +
                            '<span class="name">' + escape(item.title) + '</span>' +
                            '</span>' +
                            '<p class="small">' + escape(item.address) + '</p>' +

                            '</div>';
                    },
                    item: function (company, escape) {

                        var selectedInfoArray = [];

                         for (key in company) {
                         if (key[0]!='$'){
                                    selectedInfoArray.push( {'key': key, 'value': company[key] } );
                               }}

                        selectedCompanyTitle.company_name = escape(company.title);
                        selectedCompanyVue.companyInfo =  selectedInfoArray;
                        $("section.panel").show();

                        return '<form>' +
                            '<span class="name">' + escape(company.title) + '</span>' +
                            '</form>';
                    }
                },
                load: function (query, callback) {
                    if (!query.length) return callback();
                    $.ajax({
                        url: "{% url 'companies_house_info' %}",
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            search: query,
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        },
                        error: function (err) {
                            console.log(err);
                            callback();
                        },
                        success: function (res) {
                            callback(res["companies"]);
                        }
                    });
                }
            });


        });

</script>


{% endblock %}